<div class="jumbotron">
  <h1 class="display-3">Workout Lounge!</h1>
  <p class="lead">Show off your workout!</p>

  <p class="lead">
    <%= link_to "Join Now", new_user_registration_path, class:"btn btn-primary btn-lg" %>
  </p>
</div>
<div class="row">
  <div class="col-10 offset-1">
    <h2>List of Members</h2>
  </div>
</div>
<div class="row">
  <% @athletes.each do |athlete| %>
    <div class="col-10">
      <div class="card">
        <%= full_name athlete %>
      </div>
    </div>
  <% end %>
</div>
