<div class="jumbotron">
  <h1 class="display-3">Workout Lounge!</h1>
  <p class="lead">Show off your workout!</p>

  <p class="lead">
    <%= link_to "Sign up", '#', class:"btn btn-primary btn-lg" %>
  </p>
</div>
