<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>My Lounge</h1>
      <div class="actions">
        <%= link_to "New Workout", new_user_exercise_path(current_user), class:"btn btn-primary" %>
      </div>
    </div>
  </div>

</div>
