<h1 class="text-center">New Exercise for  <%=current_user.full_name %></h1>

<%= render 'form' %>

<div class="row">
  <div class="col-12">
    <div class="col-10 offset-md-1">
      <%= link_to "Back", user_exercises_path(current_user),
          class:"btn btn-default" %>
    </div>
  </div>
</div>
