<h1>Workout on <%=@exercise.workout_date %></h1>
<div class="row">
  <div class="col-12">
    <h2>Workout:</h2>
    <p><%= @exercise.workout %></p>
    <h2>Duration:</h2>
    <p><%= @exercise.duration_in_min %></p>
  </div>
</div>
